CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_WORKER_API_TOKEN=
CLOUDFLARE_KV_NAMESPACE=
CLOUDFLARE_KV_NAMESPACE_NAME=TRAKT_SESSIONS
CLOUDFLARE_PLUGIN_DNS=trakt.swacktech.com
TRAKT_CLIENT_ID=
TRAKT_CLIENT_SECRET=
